<!DOCTYPE html>
<html lang="en-in">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bandgaps for 1-D soft tunable phononic crystal</title>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
</head>

<body>
    <header>
        <nav class="border-bottom box-shadow">
            <div class="container">
                <ul class="navbar-nav">
                    <li class="nav-item navbar-brand">
                        <a href="home.html">Bandgaps for 1-D Soft Tunable Phononic Crystal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navtext text-dark" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navtext text-dark" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://iitj.ac.in"><img src="iitj_logo.jpg" class="logo" /></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="main">

    </div>
    <footer class="border-top footer box-shadow">
        &copy; 2023 - Yash Shrivastava; Anshu Raj
    </footer>
</body>

</html>